config/.config/lazygit/
config/.config/lazydocker/
config/.config/configstore/
config/.config/composer/
config/.config/gh/
config/vimfiles/autoload/

config/vimfiles/autoload/plug.vim
config/vimfiles/autoload/plug.vim.old
config/.skk-jisyo
config/.eskk/log/

config/.config/dlv/config.yml
config/.config/gh/config.yml
config/.config/gh/hosts.yml
config/.config/gh/state.yml


config/vimfiles/minivimrc